<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project">
	
	<!-- ########################단비############################# -->
	<resultMap type="project" id="listByDeptCollectionMap">
		<id column="project_no" property="projectNo"></id>
		<result column="project_writer" property="projectWriter"></result>
		<result column="project_title" property="projectTitle"></result>
		<result column="private_yn" property="projectYn"></result>
		<result column="project_desc" property="projectDesc"></result>
		<result column="project_startdate" property="projectStartDate"></result>
		<result column="project_enddate" property="projectEndDate"></result>
		<result column="project_realenddate" property="projectRealEndDate"></result>
		<result column="project_status_code" property="projectStatusCode"></result>
		<result column="project_status_title" property="projectStatusTitle"></result>
		<collection property="projectMemberList" ofType="member">
			<id column="member_id" property="memberId"></id>
			<result column="password" property="password"></result>
			<result column="member_name" property="memberName"></result>
			<result column="email" property="email"></result>
			<result column="phone" property="phone"></result>
			<result column="date_of_birth" property="dateOfBirth"></result>
			<result column="dept_code" property="deptCode"></result>
			<result column="dept_title" property="deptTitle"></result>
			<result column="job_code" property="jobCode"></result>
			<result column="job_title" property="jobTitle"></result>
			<result column="quit_yn" property="quitYn"></result>
			<result column="manager_id" property="managerId"></result>
			<result column="original_filename" property="originalFileName"></result>
			<result column="renamed_filename" property="renamedFileName"></result>
		</collection>
	</resultMap>
	
	<!-- projectList.do : 부서 사람들 조회 -->
	<select id="selectMemberListByDept" resultType="member">
		select * from view_member where dept_code = #{deptCode} order by member_id
	</select>
	
	<!-- projectList.do : 부서 전체 프로젝트(최근 프로젝트) 조회 -->
	<select id="selectListByDept" resultMap="listByDeptCollectionMap">
		select * from view_projectMember where dept_code = #{deptCode}
	</select>
	
	<!-- projectList.do : 중요 표시된 프로젝트 조회 -->
	<select id="selectListByImportant" resultMap="listByDeptCollectionMap">
		select * 
		from project_important PI join view_projectMember P on PI.project_no = P.project_no
		where PI.member_id = #{memberId}
	</select>
	
	<!-- projectList.do : 내 워크패드 조회 -->
	<select id="selectMyProject" resultType="project">
		select * from project
		where private_yn = 'Y' and project_writer = #{memberId}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- ########################혜민############################# -->
	<!-- 프로젝트 생성 -->
	<insert id="insertProject" parameterType="project">
		insert into project
		values(seq_project.nextval,#{projectWriter},#{projectTitle},default,#{projectDesc},default,null,null,null)
		<selectKey keyProperty="projectNo" resultType="_int" order="AFTER">
			select seq_project.currval from dual
		</selectKey>
	</insert>
	
	<!-- 프로젝트팀원 테이블에 팀장 추가 -->
	<insert id="insertProjectManager" parameterType="project">
		insert into project_members
		values(seq_project_members.nextval,#{projectNo},#{projectWriter},'Y')
	</insert>
	
	<!-- 프로젝트팀원 테이블에 팀원 추가 -->
	<insert id="insertProjectMember">
		insert into project_members
		values(seq_project_members.nextval,to_number(#{projectNo}),#{projectMember},default)
	</insert>
	
</mapper>