<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">

	<!-- sh start -->

	<select id="selectAllClubList" resultMap="clubCollectionMap">
		select C.*, 
			   P.*,
			   (select club_approve_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_approve_yn,
			   (select club_manager_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_manager_yn 
		from (select * from club order by ${sort} asc) C
			left join club_photo P
				on C.club_no = P.club_no
	</select>
	
	<select id="selectAllClubListByCategory" resultMap="clubCollectionMap">
		select C.*, 
			   P.*,
			   (select club_approve_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_approve_yn,
			   (select club_manager_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_manager_yn 
		from (select * from club where club_category like '%'|| #{category} || '%' order by ${sort} asc) C
			left join club_photo P
				on C.club_no = P.club_no
	</select>
	
	<insert id="insertNewClub">
		insert into club
		values(seq_club_no.nextval,#{clubName},sysdate,#{clubIntroduce},#{clubMeetingCycle},#{clubMeetingDate},#{clubCategory},#{clubManagerId})
	</insert>
	<delete id="deleteClub">
		delete from club
		where club_no = #{clubNo}
	</delete>
	<update id="updateClub">
		update club
		set club_name = #{clubName},
			club_introduce = #{clubIntroduce},
			club_meeting_cycle = #{clubMeetingCycle},
			club_category = #{clubCategory}
		where club_no = #{clubNo}
	</update>
	<insert id="insertClubMember">
		insert into club_member
		values(seq_club_member_no.nextval,#{memberId},#{clubNo},'N','N')
	</insert>
	<select id="selectAllMyClubList" resultMap="clubCollectionMap">
		select C.*, P.*,(select club_manager_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_manager_yn 
		from (select * from club where club_no in
			 (select club_code from club_member where emp_id=#{memberId} and club_approve_yn = 'Y') order by ${sort} asc) C
		left join club_photo P on C.club_no = P.club_no
	</select>
	
	<select id="selectAllMyClubListByCategory" resultMap="clubCollectionMap">
		select C.*, P.*,(select club_manager_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_manager_yn 
		from (select * from club where club_no in
			 (select club_code from club_member where emp_id=#{memberId} and club_approve_yn = 'Y' and club_category like '%'|| #{category} || '%' ) order by ${sort} asc) C
		left join club_photo P on C.club_no = P.club_no
	</select>
	
	<select id="selectAllStandByClubList" resultMap="clubCollectionMap">
		select C.*, P.*,(select club_manager_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_manager_yn 
		from (select * from club where club_no in
			 (select club_code from club_member where emp_id=#{memberId} and club_approve_yn = 'N') order by ${sort} asc) C
		left join club_photo P on C.club_no = P.club_no
	</select>
	
	<select id="selectAllStandByClubListByCategory" resultMap="clubCollectionMap">
		select C.*, P.*,(select club_manager_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_manager_yn 
		from (select * from club where club_no in
			 (select club_code from club_member where emp_id=#{memberId} and club_approve_yn = 'N' and club_category like '%'|| #{category} || '%') order by ${sort} asc) C
		left join club_photo P on C.club_no = P.club_no
	</select>
	
	<resultMap type="club" id="clubCollectionMap">
		<id column="club_no" property="clubNo"></id>
		<result column="club_name" property="clubName"></result>
		<result column="club_enroll_date" property="clubEnrollDate"></result>
		<result column="club_introduce" property="clubIntroduce"></result>
		<result column="club_meeting_cycle" property="clubMeetingCycle"></result>
		<result column="club_meeting_date" property="clubMeetingDate"></result>
		<result column="club_category" property="clubCategory"></result>
		<result column="club_manager_id" property="clubManagerId"></result>
		<result column="club_approve_YN" property="clubApproveYN"></result>
		<result column="club_manager_yn" property="clubManagerYN"></result>
		<collection property="clubPhotoList" ofType="clubPhoto">
			<id column="club_photo_no" property="clubPhotoNo"></id>
			<result column="club_photo_title" property="clubPhotoTitle"></result>
			<result column="club_photo_original" property="clubPhotoOriginal"></result>
			<result column="club_photo_renamed" property="clubPhotoRenamed"></result>
			<result column="club_no" property="clubNo"></result>
			<result column="club_photo_date" property="clubPhotoDate"></result>
		</collection>
	</resultMap>
	<select id="selectClubMemberList" resultMap="clubMemberCollectionMap">
		select C.*, M.*, (select dept_title from department where dept_code = M.dept_code) dept_title, (select job_title from job where M.job_code = job_code) job_title
		from (select * from club_member where club_code = #{clubNo}) C
		left join member M on C.emp_id = M.member_id
	</select>
	<resultMap type="clubMember" id="clubMemberCollectionMap">
		<id column="club_member_no" property="clubMemberNo"></id>
		<result column="emp_id" property="empId"></result>
		<result column="club_code" property="clubCode"></result>
		<result column="club_manager_YN" property="clubManagerYN"></result>
		<result column="club_approve_YN" property="clubApproveYN"></result>
		<result column="job_title" property="jobTitle"></result>
		<result column="dept_title" property="deptTitle"></result>
		<collection property="clubMemberList" ofType="member">
			<id column="member_id" property="memberId"></id>
			<result column="member_name" property="memberName"></result>
			<result column="email" property="email"></result>
			<result column="phone" property="phone"></result>
			<result column="date_of_birth" property="dateOfBirth"></result>
			<result column="dept_code" property="deptCode"></result>
			<result column="job_code" property="jobCode"></result>
			<result column="quit_yn" property="quitYn"></result>
			<result column="manager_id" property="managerId"></result>
			<result column="original_filename" property="originalFileName"></result>
			<result column="renamed_filename" property="renamedFileName"></result>
		</collection>
	</resultMap>
	<delete id="deleteClubMember">
		delete from club_member
		where club_member_no = #{clubMemberNo}
	</delete>
	<update id="updateClubManager">
		update club_member
		set club_manager_yn = 'Y'
		where club_code = #{clubNo} and emp_id = #{memberId}
	</update>
	<update id="approveClubMember">
		update club_member
		set club_approve_yn = 'Y'
		where club_code = #{clubNo} and emp_id = #{memberId}
	</update>
	<select id="searchClubMember" resultMap="clubMemberCollectionMap">
		select *
		from (select C.*, M.*, (select dept_title from department where dept_code = M.dept_code) dept_title, (select job_title from job where M.job_code = job_code) job_title
			 from (select * from club_member where club_code = #{clubNo}) C
		left join member M on C.emp_id = M.member_id) A
		where A.member_id like '%'|| #{keyword} || '%'
			 or A.email like '%'|| #{keyword} || '%'
			 or A.member_name like '%'|| #{keyword} || '%'
			 or A.dept_title like '%'|| #{keyword} || '%'
			 or A.job_title like '%'|| #{keyword} || '%'
	</select>
	<select id="selectOneClubPlan" resultMap="clubPlanCollectionMap">
		select P.*,  A.*, M.member_id as member_id_2, M.renamed_filename, M.member_name
		from (select * from club_plan) P
		left join club_plan_attendee A on A.club_plan_no = P.club_plan_no
		left join club_member C on A.club_member_no = C.club_member_no
		left join member M on M.member_id = C.emp_id
		where P.club_plan_no = #{clubPlanNo}
		order by A.club_plan_attendee_date desc
	</select>
	<resultMap type="clubPlan" id="clubPlanCollectionMap">
		<id column="club_plan_no" property="clubPlanNo"></id>
		<result column="club_plan_title" property="clubPlanTitle"></result>
		<result column="club_plan_content" property="clubPlanContent"></result>
		<result column="club_plan_start" property="clubPlanStart"></result>
		<result column="club_plan_state" property="clubPlanState"></result>
		<result column="club_plan_color" property="clubPlanColor"></result>
		<result column="club_plan_place" property="clubPlanPlace"></result>
		<result column="club_plan_manager" property="clubPlanManager"></result>
		<result column="club_no" property="clubNo"></result>
		<result column="member_id" property="memberId"></result>
		<result column="club_manager_yn" property="clubManagerYN"></result>
		<result column="club_member_name" property="clubMemberName"></result>
		<collection property="planAttendeeList" ofType="clubPlanAttendee">
			<id column="club_plan_attendee_no" property="clubPlanAttendeeNo"></id>
			<result column="club_plan_no" property="clubPlanNo"></result>
			<result column="club_member_no" property="clubMemberNo"></result>
			<result column="club_plan_attendee_date" property="clubPlanAttendeeDate"></result>
			<result column="renamed_filename" property="renamedFileName"></result>
			<result column="member_id_2" property="memberId"></result>
			<result column="member_name" property="memberName"></result>
		</collection>
	</resultMap>
	

	<!-- sh end -->

	<!-- br start -->
	<select id="selectClub" resultType="club">
		select * from club
		where club_no = #{clubNo}
	</select>

	<select id="selectClubPlanList" resultType="clubPlan">
		select * 
		from club_plan P 
    		left join club_member M on P.club_no = M.club_code and P.member_id = M.emp_id 
		where P.club_no = #{clubNo} and extract(month from club_plan_start) = extract(month from sysdate)
		order by club_plan_start asc
	</select>

	<update id="updateClubPlan">
		update club_plan
		set club_plan_title = #{clubPlanTitle},
			club_plan_content = #{clubPlanContent},
			club_plan_start = #{clubPlanStart},
			club_plan_state = #{clubPlanState},
			club_plan_place = #{clubPlanPlace},
			club_plan_manager = #{clubPlanManager}, 
			club_plan_color = #{clubPlanColor}
		where club_plan_no = #{clubPlanNo}
	</update>

	<update id="clubIntroduceUpdate">
		update club
		set club_Name = #{clubName},
			club_Introduce = #{clubIntroduce}
		where club_no = #{clubNo}
	</update>

	<insert id="clubPlanInsert">
		insert into club_plan
		values(seq_club_plan_no.nextval,
			   #{clubPlanTitle},
			   #{clubPlanContent},
			   #{clubPlanStart},
			   #{clubPlanState},
			   #{clubPlanColor}, 
			   #{clubPlanPlace},
			   #{clubPlanManager},
			   #{clubNo}, 
			   #{memberId})
	</insert>
	
	<select id="selectClubNoticeList" resultType="clubNotice">
		select * 
		from club_notice N
			left join club_member C on N.club_member_no = C.club_member_no 
			left join member M on C.emp_id = M.member_id 
		where club_no = #{clubNo} 
		order by club_notice_date desc
	</select>
	
	<update id="clubNoticeUpdate">
		update club_notice 
		set club_notice_title = #{clubNoticeTitle}, 
			club_notice_content = #{clubNoticeContent} , 
			club_notice_original = #{clubNoticeOriginal}, 
			club_notice_renamed= #{clubNoticeRenamed} 
		where club_notice_no = #{clubNoticeNo}
	</update>
	
	<insert id="clubNoticeInsert">
		insert into club_notice 
		values(seq_club_notice_no.nextval, 
			   #{clubNoticeTitle}, 
			   #{clubNoticeContent}, 
			   #{clubNo}, 
			   #{clubMemberNo}, 
			   default, 
			   #{clubNoticeOriginal}, 
			   #{clubNoticeRenamed})
	</insert>
	
	<select id="selectOneClubMember" resultType="clubMember">
		select * from club_member 
		where emp_id = #{memberId} and club_code = #{clubNo}
	</select>
	
	<delete id="deleteClubNotice">
		delete from club_notice 
		where club_notice_no = #{clubNoticeNo}
	</delete>
	
	<insert id="insertClubPhoto">
		insert into club_photo 
		values(seq_club_photo_no.nextval, 
			   #{clubPhotoTitle}, 
			   #{clubPhotoOriginal}, 
			   #{clubPhotoRenamed}, 
			   #{clubNo}, 
			   #{clubMemberNo}, 
			   default)
	</insert>
	
	<select id="selectClubPhotoList" resultType="clubPhoto">
		select * 
		from club_photo P
			left join club_member C on P.club_member_no = C.club_member_no 
			left join member M on C.emp_id = M.member_id 
		where club_no = #{clubNo} 
		order by club_photo_date desc
	</select>
	
	<delete id="deleteClubPhoto">
		delete from club_photo 
		where club_photo_no = #{clubPhotoNo}
	</delete>
	
	<select id="selectClubPlanAttendeeList" resultType="clubPlanAttendee">
		select A.* , M.member_id, M.renamed_filename, M.member_name 
		from club_plan_attendee A 
			left join club_member C on A.club_member_no = C.club_member_no
    		left join member M on C.emp_id = M.member_id
		where A.club_plan_no = #{clubPlanNo} 
		order by A.club_plan_attendee_date desc
	</select>
	
	<insert id="insertClubPlanAttendee">
		insert into club_plan_attendee 
		values(seq_club_plan_attendee_no.nextval, #{clubPlanNo}, #{clubMemberNo}, default)
	</insert>
	
	<delete id="deleteClubPlanAttendee">
		delete from club_plan_attendee 
		where club_plan_attendee_no = #{clubPlanAttendeeNo}
	</delete>
	
	<select id="selectClubNoticeCommentList" resultType="clubNoticeComment">
		select N.*, M.member_name, M.renamed_filename, M.member_id 
		from club_notice_comment N 
			left join club_member C on N.club_member_no = C.club_member_no 
			left join member M on C.emp_id = M.member_id
		where club_no = #{clubNo} 
		order by club_notice_comment_date asc
	</select>
	
	<insert id="insertClubNoticeComment">
		insert into club_notice_comment 
		values(seq_club_notice_comment_no.nextval, 
			   #{clubNoticeNo}, 
			   #{clubNoticeCommentLevel}, 
			   #{clubMemberNo}, 
			   #{clubNoticeCommentContent}, 
			   default, 
			   #{clubNoticeCommentRef}, 
			   #{clubNo})
	</insert>
	
	<select id="selectAllClubPlanAttendeeList" resultType="clubPlanAttendee">
		select A.* , M.member_id, M.renamed_filename, M.member_name 
		from club_plan_attendee A 
			left join club_member C on A.club_member_no = C.club_member_no
    		left join member M on C.emp_id = M.member_id
		order by A.club_plan_attendee_date desc
	</select>
	
	<delete id="deleteClubPlan">
		delete from club_plan 
		where club_plan_no = #{clubPlanNo}
	</delete>
	
	<delete id="deleteClubNoticeComment">
		delete from club_notice_comment 
		where club_notice_comment_no = #{clubNoticeCommentNo}
	</delete>
	
	<select id="searchClubPhotoList" resultType="clubPhoto">
		select *
		from club_photo P
			left join club_member C on P.club_member_no = C.club_member_no 
			left join member M on C.emp_id = M.member_id 
		where club_no = ${clubNo} and
			  (club_photo_title like '%'|| #{keyword} || '%'
			  or club_photo_original like '%'|| #{keyword} || '%')
		order by club_photo_date desc
	</select>
	
	<select id="searchClubNoticeList" resultType="clubNotice">
		select *
		from club_notice N
			left join club_member C on N.club_member_no = C.club_member_no 
			left join member M on C.emp_id = M.member_id 
		where club_no = ${clubNo} 
			  and (club_notice_title like '%'|| #{keyword} || '%'
			  or club_notice_original like '%'|| #{keyword} || '%'
			  or club_notice_content like '%'|| #{keyword} || '%')
		order by club_notice_date desc
	</select>
	
	<select id="searchClubPlanList" resultType="clubPlan">
		select *
		from club_plan P left join club_member M on P.club_no = M.club_code and P.member_id = M.emp_id 
		where P.club_no = #{clubNo} 
			  and extract(month from club_plan_start) = extract(month from sysdate) 
			  and (club_plan_title like '%'|| #{keyword} || '%'
			  or P.club_plan_content like '%'|| #{keyword} || '%'
			  or P.club_plan_state like '%'|| #{keyword} || '%'
			  or P.club_plan_place like '%'|| #{keyword} || '%'
			  or P.club_plan_manager like '%'|| #{keyword} || '%')
		order by P.club_plan_start asc
	</select>
	<!-- br end -->
</mapper>