<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">

	<!-- sh start -->

	<select id="selectAllClubList" resultMap="clubCollectionMap">
		
	select C.*, P.*,(select club_approve_yn from club_member where club_code = C.club_no and emp_id=#{memberId}) club_approve_yn
	from (select * from club order by ${sort} asc) C
	left join club_photo P 
	on C.club_no = P.club_no
		
	</select>
	
	<insert id="insertNewClub">
		insert into club
		values(seq_club_no.nextval,#{clubName},sysdate,#{clubIntroduce},#{clubMeetingCycle},#{clubMeetingDate},#{clubCategory},#{clubManagerId})
	</insert>
	
	<delete id="deleteClub">
		delete from club
		where club_no = #{clubNo}
	</delete>
	
	<update id="updateClub">
		update club
		set club_name = #{clubName},
			club_introduce = #{clubIntroduce},
			club_meeting_cycle = #{clubMeetingCycle},
			club_category = #{clubCategory}
		where club_no = #{clubNo}
	</update>
	
	<insert id="insertClubMember">
		insert into club_member
		values(seq_club_member_no.nextval,#{memberId},#{clubNo},'N','N')
	</insert>
	
	<select id="selectAllMyClubList" resultMap="clubCollectionMap">
		select C.*, P.*
		from (select * from club where club_no in 
			 (select club_code from club_member where emp_id=#{memberId} and club_approve_yn = 'Y') order by ${sort} asc) C 
		left join club_photo P on C.club_no = P.club_no
	</select>
	
	<select id="selectAllStandByClubList" resultMap="clubCollectionMap">
		select C.*, P.*
		from (select * from club where club_no in 
			 (select club_code from club_member where emp_id=#{memberId} and club_approve_yn = 'N') order by ${sort} asc) C 
		left join club_photo P on C.club_no = P.club_no
	</select>
	
	
	<resultMap type="club" id="clubCollectionMap">
		<id column="club_no" property="clubNo"></id>
		<result column="club_name" property="clubName"></result>
		<result column="club_enroll_date" property="clubEnrollDate"></result>
		<result column="club_introduce" property="clubIntroduce"></result>
		<result column="club_meeting_cycle" property="clubMeetingCycle"></result>
		<result column="club_meeting_date" property="clubMeetingDate"></result>
		<result column="club_category" property="clubCategory"></result>
		<result column="club_manager_id" property="clubManagerId"></result>
		<result column="club_approve_YN" property="clubApproveYN"></result>
		
		<collection property="clubPhotoList" ofType="clubPhoto">
			<id column="club_photo_no" property="clubPhotoNo"></id>
			<result column="club_photo_title" property="clubPhotoTitle"></result>
			<result column="club_photo_original" property="clubPhotoOriginal"></result>
			<result column="club_photo_renamed" property="clubPhotoRenamed"></result>
			<result column="club_no" property="clubNo"></result>
			<result column="club_photo_date" property="clubPhotoDate"></result>
		
		</collection>
	
	</resultMap>

	<!-- sh end -->

	<!-- br start -->
	<select id="selectClub" resultType="club">
		select * from club
		where club_no = #{clubNo}
	</select>

	<select id="selectClubPlanList" resultType="clubPlan">
		select * from club_plan
		where club_no = #{clubNo}
		order by club_plan_start, club_plan_no asc
	</select>

	<update id="updateClubPlan">
		update club_plan
		set club_plan_title = #{clubPlanTitle},
			club_plan_content = #{clubPlanContent},
			club_plan_start = #{clubPlanStart},
			club_plan_state = #{clubPlanState},
			club_plan_place = #{clubPlanPlace},
			club_plan_manager = #{clubPlanManager}
		where club_plan_no = #{clubPlanNo}
	</update>

	<update id="clubIntroduceUpdate">
		update club
		set club_Name = #{clubName},
			club_Introduce = #{clubIntroduce}
		where club_no = #{clubNo}
	</update>

	<insert id="clubPlanInsert">
		insert into club_plan
		values(seq_club_plan_no.nextval,
			   #{clubPlanTitle},
			   #{clubPlanContent},
			   #{clubPlanStart},
			   #{clubPlanState},
			   #{clubPlanPlace},
			   #{clubPlanManager},
			   #{clubNo})
	</insert>
	
	<select id="selectClubNoticeList" resultType="clubNotice">
		select * from club_notice N
			left join club_member C on N.club_member_no = C.club_member_no 
			left join member M on C.emp_id = M.member_id 
		where club_no = #{clubNo} 
		order by club_notice_date desc
	</select>
	
	<update id="clubNoticeUpdate">
		update club_notice 
		set club_notice_title = #{clubNoticeTitle}, 
			club_notice_content = #{clubNoticeContent} 
		where club_notice_no = #{clubNoticeNo}
	</update>
	
	<insert id="clubNoticeInsert">
		insert into club_notice 
		values(seq_club_notice_no.nextval, 
			   #{clubNoticeTitle}, 
			   #{clubNoticeContent}, 
			   #{clubNo}, 
			   #{clubMemberNo}, 
			   default)
	</insert>
	
	<select id="selectOneClubMember" resultType="clubMember">
		select * from club_member 
		where emp_id = #{memberId} and club_code = #{clubNo}
	</select>
	
	<!-- br end -->
</mapper>