<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
	<select id="findChannelNoListByMemberId" resultType="channel">
		select C.* 
		from channel C 
			left join channel_member M on C.channel_no = M.channel_no
		where M.member_id = #{memberId} and C.channel_type = 'CH3'
	</select>
	
	<select id="selectMemberList" resultType="member">
		select * 
		from member 
		where member_name like '%'||#{keyword}||'%' or email like '%'||#{keyword}||'%'
	</select>
	
	<select id="selectOneMember" resultType="member">
		select * from member where member_id = #{memberId}
	</select>
	
	<select id="findChannelByMemberId" resultType="channel">
		select C.channel_no  
		from channel C 
			left join channel_member M on C.channel_no = M.channel_no 
		where M.
	</select>
	
	<insert id="insertChatLog">
		INSERT INTO CHAT (chat_no, channel_no, sender, send_date, msg)
		VALUES(seq_chat_no.nextval, #{channelNo}, #{sender}, #{sendDate}, #{msg})
	</insert>
	
	<select id="selectChannel" resultType="channel">
		select *
		from channel
		where channel_no = #{channel_no}
	</select>
	
	<select id="getClubChatList" resultType="chat">
		select C.*,M.renamed_filename
		from (select * from chat where channel_no = #{channelNo} order by chat_no asc) C
		left join member M on M.member_id = C.sender
	</select>
</mapper>