<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<resultMap type="notice" id="noticeMap">
	</resultMap>

	<resultMap type="community" id="communityMap">
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeMap">
		select * from notice where dept_code is null order by notice_no
	</select>

	<select id="selectPlanningDeptNoticeList" resultMap="noticeMap">
		select * from view_noticeMember where dept_code = 'D1' order by notice_no
	</select>

	<select id="selectDesignDeptNoticeList" resultMap="noticeMap">
		select * from view_noticeMember where dept_code = 'D2' order by notice_no
	</select>

	<select id="selectDevelopmentDeptNoticeList" resultMap="noticeMap">
		select * from view_noticeMember where dept_code  = 'D3' order by notice_no
	</select>
	
	<select id="selectCommunityList" resultMap="communityMap">
		select * from view_communityMember order by commu_no
	</select>
	
	<insert id="insertNotice">
		insert into notice
		values(seq_notice.nextval,
			   #{noticeWriter},
		 	   #{noticeTitle},
		 	   default,
		 	   #{noticeContent},
		 	   #{noticeOriginalFileName},
		 	   #{noticeRenamedFileName},
		 	   #{deptCode})
	</insert>
</mapper>